.App-header {
  background-color: #282c34;
  padding-left: 20px;
  display: flex;
  font-size: 35px;
  color: white;
}

.Configuration-block {
  margin-top: 15px;
  margin-left: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: normal;
}

.Generic-frame {
  border: 1px solid #d3d3d3;
  padding: 20px;
  position: relative;
  width: max-content;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 485px;
  max-width: 830px;
  display: flex;
}

.Generic-headline {
  position: absolute;
  top: -23px;
  left: 20px;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.punctuation
{
  display:inline-block;
  position: relative;
  top: 6px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;

}
.configuration-button-group {

  height: 45px;
  position: relative;
  right: -10px;
  top: 80px;

}
.configuration-button
{
  width: 150px;
}

.Execution_block
{
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.Code_block
{
  font-size: 12px;
}
.Script
{
  display: flex;
}
.datafields
{
  display: flex;
}
.dataElement
{
  margin-left: 20px;
}

.responseTimeLine
{
  pointer-events: none;
}

