.App-header {
  height: 90px;
  background-color: #282c34;
  padding-left: 20px;
  display: flex;
  font-size: 35px;
  color: white;
  align-items: center;
  z-index: 0;
}

.logo-image-container {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.logo-image {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 3;
}

.logo-image-container::after {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 10s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 13px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.5);
  }
}

.loading-container {
  margin-left: auto;
  margin-right: 10px;
}

.Configuration-block {
  margin-top: 15px;
  margin-left: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: normal;
}

.Generic-frame {
  width: 500px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  height: 150px;
}

.Generic-headline {
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.punctuation
{
  display:inline-block;
  position: relative;
  top: 25px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;

}
.configuration-button-group {

  height: 39px;
  position: relative;
  right: -5px;
  top: 65px;

}
.configuration-button
{
  width: 145px;
}

.Execution_block
{
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.Code_block
{
  font-size: 12px;
}
.Script
{
  display: flex;
}
.datafields
{
  display: flex;
}
.dataElement
{
  margin-left: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.dataTable
{
  margin-left: 20px;
}

.responseTimeLine
{
  display: flex;
  justify-content: center;
  pointer-events: none;
}
.cpuLoadElement
{
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 150px;
  width: 300px;

}

#cpuChart {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
