.App-header {
  background-color: #282c34;
  padding-left: 20px;
  display: flex;
  font-size: 35px;
  color: white;
}

.Server-selection {
  margin-top: 28px;
  margin-left: 20px;
}

.Server-selection-border {
  border: 1px solid #d3d3d3;
  padding: 20px;
  position: relative;
  width: max-content;
  border-radius: 5px;
}

.Server-selection-heading {
  position: absolute;
  top: -23px;
  left: 20px;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.Colon
{
  display:inline-block;
  position: relative;
  top: 6px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;

}
